{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mission</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mission/css/style.css' %}">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
    <a href="{% url 'expmain' %}">マイページ</a>
    <a>&emsp;</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">ログアウト</a>
        <a>&emsp;</a>
        <a href="{% url 'mission-home' %}">ミッション一覧</a>
        <a>&emsp;</a>
        <a href="{% url 'thanks-list' %}">サンクス一覧</a>
        <a>&emsp;</a>
        {% if profile.get_kubun_display == '経営者' or profile.get_kubun_display == '管理者' %}
            <a href="{% url 'management' %}">メンバー管理</a>
            <a>&emsp;</a>
            <a href="{% url 'mission-waiting' %}">承認待ち</a>
            <a>&emsp;</a>
        {% endif %}        
    {% else %}
        <a href="{% url 'login' %}">ログイン</a>
        <a>&emsp;</a>
        <a href="{% url 'signup' %}">アカウント作成</a>
    {% endif %}

    <div id="root"></div>
    <script type="text/babel">
        (() => {
            const name = 'yoshiki';
            ReactDOM.render(
                <p>Hello!{name}</p>,
                document.getElementById('root')
            );

        })();
    </script>


    {% block body %}
    {% endblock body %}




<!-- 
    <div>

        {% for mission in missions %}
        <h1>{{ mission.title }} <small>written by:
            </small><span>{{ mission.author }}</span></h1>
        <ul>
            <li>{{ mission.content }}</li>
        </ul>
        <hr>
        {% endfor %}

    </div> -->


</body>

</html>