{% extends 'mission/base.html' %}
{% block body %}

<!-- {% if user.is_authenticated %} -->
<h1>ミッション一覧</h1>
<!-- {% endif %} -->

<div>

    <form action="{% url 'mission-create' %}">
        <button type="submit">New MISSION</button>
    </form>

    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>

    {% for mission in missions %}
        {% if mission.get_approval_display == '承認済み' %}
            <hr>
            <h1><a href="{% url 'mission-detail' mission.id %}">{{ mission.title }}</a></h1>
            <ul>
                <li>投稿時間：<b>{{ mission.date_posted }}</b></li>
                <li>依頼者：<b>{{ mission.author }}</b></li>
                <li>達成状況：<b>{{ mission.get_mission_flg_display }}</b></li>
                <li>達成報酬EXP：<b>{{ mission.success_exp }}</b>exp</li>
                <li>いいね数：<b>{{ mission.good_count }}</b></li>
                <li>参加人数：<b>{{ mission.participants }}</b>/{{ mission.participants_limit }} 人</li>
            </ul>
        {% endif %}
    {% endfor %}

    
    {% if page_obj.has_previous %}
        <a href="{% url 'mission-home' %}">&laquo;first</a>
        <a href="?page={{page_obj.previous_page_number}}">&laquo;prev</a>
    {% endif %}
        <span>[ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ]</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">next&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
        
    
</div>
{% endblock body %}
