{% extends 'mission/base.html' %}

{% block body %}

<center>
    <h1>「{{ object.title }} 」<small>依頼者:</small><span>{{ object.author }}</span></h1>
    <p>{{ object.date_posted|date:'Y-m-d P' }}</p>
    <p> {{ object.content }}</p>
    <hr>
    <b><p>【 {{ object.get_approval_display }} 】</p></b>
    <p>クリア報酬EXP：<b>{{ object.success_exp}}</b>exp</p>
    <p>達成状況：<b>{{ object.get_mission_flg_display }}</b></p>
    <p>いいね！：<b>{{ object.good_count}}</b></p>
    <p>最大参加人数：<b>{{ object.participants_limit }}</b>人まで</p>
    <p>現在参加人数：<b>{{ object.participants }}</b>人</p>
    <!-- <p>参加人数：<b>{{ object.participants }}</b>/{{ object.participants_limit }} 人</p> -->
    {% if object.participants > 0 %}
    <p>参加者：<b>
        {% for item in mission.participants_list.all %}
            {% if forloop.last %}
                {{ item.user }}さん 
            {% else %}
                {{ item.user }}さん、
            {% endif %}
        {% endfor %}
    </b></p>
    {% endif %}
    
    {% if messages %}      
        {% for message in messages %}
            <h4>{{ message }}</h4>
        {% endfor %}      
    {% endif %}           
</center>


{% if object.author != request.user and object.mission_flg == 0 %}
    <form action="{% url 'mission-good' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="いいね">
    </form>
    <br>     
    <form action="{% url 'mission-join' object.pk %}">
        {% csrf_token %}
        {% if profile in mission.participants_list.all %}
            <input type="submit" value="脱退">
        {% elif mission.participants_limit > mission.participants %}
            <input type="submit" value="参加">
        {% else %}
            <p>参加者は定員に達しました。</p>
        {% endif %}      
    </form>
{% endif %}

<!-- ログイン中のユーザーが、ミッションの作成者であり未達成の場合 -->
{% if request.user == object.author and object.mission_flg == 0 %} 
    <!-- 承認済みの場合 -->
    {% if object.approval == 1 %}
    <form action="{% url 'mission-success' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="ミッションクリア">   
    </form>
    {% endif %}     
    <form action="{% url 'mission-update' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="Mission内容修正">
    </form>
{% endif %}
<br>

<!-- 承認待ちのミッションで、経営者か管理者だった場合「承認」ボタンを表示する -->
{% if profile.get_kubun_display == '経営者' or profile.get_kubun_display == '管理者' %}
{% if object.approval == 0 %}
    <table>
        <form action="{% url 'mission-approval' object.pk %}" method="POST">
            {% csrf_token %}
            <tr><th>クリア報酬EXP</th><td>{{ form.success_exp }}</td></tr>
            <tr><td><input type="submit" value="承認"></td></tr>
        </form>
    </table>
{% endif %}
{% endif %}   

{% endblock body %}